<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>76958492632-415l8qs75u4da0gj59lhem557644r4uq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.76958492632-415l8qs75u4da0gj59lhem557644r4uq</string>
	<key>API_KEY</key>
	<string>AIzaSyCovUIWm1tSJ6MRPvMUJ6jurVWdsQptH_Y</string>
	<key>GCM_SENDER_ID</key>
	<string>76958492632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Daeki56.Project-1</string>
	<key>PROJECT_ID</key>
	<string>project-1-ca660</string>
	<key>STORAGE_BUCKET</key>
	<string>project-1-ca660.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:76958492632:ios:fbe666882f2e2bb14334ad</string>
</dict>
</plist>